.grid {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 15% 30% 50% 5%;
}

.a {
  grid-area: 1 / 1 / 1 / span 2;
}

.b {
  grid-area: 1 / 1 / 1 / span 3;
}

.c {
  grid-area: 2 / 2 / 2 / span 1;
}

.d {
  grid-area: 3 / 2 / span 1 / span 1;
}

.e {
  grid-area: 3 / 3 / span 1 / span 1;
}

.footer {
  grid-area: 4 / 1 / span 1 / span 3;
  font-family: Brawler;
  font-size: 0.75rem; 
  text-align: right;
}

body {
    background: #ebd5b3;
}

img {
    position: absolute;
    z-index: 10
}

.header {
    font-family: "IM Fell English SC";
    font-size: 2rem;
    width: 100%; 
    border-bottom: 5px solid black;
    text-align: center;
    }

.topnav {
    margin: auto;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    overflow: hidden;
    text-align:center;
}

.topnav a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: Brawler;
}


.topnav a:hover {
    background-color: #ebd5b3;
    color: black;
}

.topnav .active {
    background-color: #f8ecc2;
    color: white; 
}

h2 {
    font-family: "IM Fell English SC";
    font-size: 1.5rem;
}

p {
    font-family: Brawler;
}

.button {
    background-color: #ebd5b3;
    border: 5px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-family: "IM Fell English SC"
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

div.horizontal {
    display: flex;
    justify-content: center;
}

@media screen and (man-width: 480px) {
    .grid {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 15% 30% 50% 5%;
}

.a {
  grid-area: 1 / 1 / 1 / span 2;
}

.b {
  grid-area: 1 / 1 / 1 / span 2;
}

.c {
  grid-area: 2 / 2 / 2 / span 1;
}

.d {
  grid-area: 3 / 2 / span 1 / span 1;
}

.e {
  grid-area: 3 / 2 / span 1 / span 1;
}

.footer {
  grid-area: 4 / 1 / span 1 / span 2;
  font-family: Brawler;
  font-size: 0.75rem; 
  text-align: right;
}

body {
    background: #ebd5b3;
}

img {
    position: absolute;
    z-index: 10
}

.header {
    font-family: "IM Fell English SC";
    font-size: 1rem;
    width: 100%; 
    border-bottom: 2px solid black;
    text-align: center;
    }

.topnav {
    margin: auto;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    overflow: hidden;
    text-align:center;
}

.topnav a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
    font-size: 1rem;
    font-family: Brawler;
}


.topnav a:hover {
    background-color: #ebd5b3;
    color: black;
}

.topnav .active {
    background-color: #f8ecc2;
    color: white; 
}

h2 {
    font-family: "IM Fell English SC";
    font-size: 1rem;
}

p {
    font-family: Brawler;
}
}
