.grid {
  display: grid;
  grid-template-columns: 0.75fr 0.25fr 1fr 2fr 2fr;
  grid-template-rows: 0.75fr 2fr 2fr 0.25fr;
}

.a {
  grid-area: 1 / 1 / 1 / span 2;
}

.b {
  grid-area: 1 / 1 / 1 / span 5;
}

.c {
  grid-area: 2 / 4 / 2 / span 1;
}

.d {
  grid-area: 3 / 4 / span 1 / span 1;
}

.e {
  grid-area: 3 / 5 / span 1 / span 1;
}

.footer {
  grid-area: 3 / 1 / span 1 / span 5;
  font-family: Brawler;
  font-size: 0.75rem; 
  text-align: right;
}

body {
    background: #ebd5b3;
}

.header {
    font-family: "IM Fell English SC";
    font-size: 2rem;
    width: 100%; 
    border-bottom: 5px solid black;
    text-align: center;
    }

.topnav {
    margin: auto;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    overflow: hidden;
    text-align:center;
}

.topnav a {
    display: inline-block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.25rem;
    font-family: Brawler;
}


.topnav a:hover {
    background-color: #ebd5b3;
    color: black;
}

.topnav .active {
    background-color: #f8ecc2;
    color: white; 
}

h2 {
    font-family: "IM Fell English SC";
    font-size: 1.5rem;
}

p {
    font-family: Brawler;
}

.button {
    background-color: #ebd5b3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
